body, input {
  color: #1f242a;
  font-family: "museo-sans", sans-serif;
  font-weight: 200;
  word-spacing: 2px;
}

h1, h2, h3, h4, h5, h6,
p, li, span, i {
  margin: 0;
  font-family: "museo-sans", sans-serif;
  font-weight: 200;
}

a, a * {
  color: #1f242a;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

h1, h1 * {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.45;
}

h2, h2 * {
  font-size: 26px;
  line-height: 1.35;
}

h3, h3 * {
  font-size: 20px;
  line-height: 1.38;
}

p, p *, li, li * {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.19;
}

small, small * {
  font-size: 12px;
  line-height: 1.15;
  font-weight: 600;
}

label, label * {
  font-size: 16px;
  line-height: 1.19;
}

strong, b {
  font-weight: 900;
  color: #000;
}

@media (max-width: 800px) {
  h1, h1 * {
    font-size: 30px;
  }
  
  h2, h2 * {
    font-size: 22px;
  }

  h3, h3 * {
    font-size: 18px;
  }

  p, p * {
    font-size: 14px;
  }
}
